<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent" Guid="20882812-c228-4b86-96e1-58fd6d11e552">
				<File Id="ApplicationFile" Source="C:\Users\Administrateur\Documents\Session_5\Sem9-Exercice_formatif_InnoSetup\DemoProgiciel\bin\Release\net8.0-windows\DemoProgiciel.exe" KeyPath="yes">

					<!-- Raccourci lancer lapp depuis le dossier du menu demarrer -->
					<Shortcut Id="StartMenuAppShortcut" Name="!(bind.Property.ProductName)" Directory="AppProgramMenuDir"  WorkingDirectory="INSTALLFOLDER" />


				</File>
				<!-- Raccourci sur le bureau POUR LE EXE -->
				<Shortcut Id="DesktopShortcut" Name="!(bind.Property.ProductName)"  Directory="DesktopFolder" WorkingDirectory="INSTALLFOLDER"
/>


				<File Id="DependencyDll" Source="C:\Users\Administrateur\Documents\Session_5\Sem9-Exercice_formatif_InnoSetup\DemoProgiciel\bin\Release\net8.0-windows\DemoProgiciel.dll"/>
				<File Id="ConfigFile" Source="C:\Users\Administrateur\Documents\Session_5\Sem9-Exercice_formatif_InnoSetup\DemoProgiciel\bin\Release\net8.0-windows\DemoProgiciel.runtimeconfig.json" />
			</Component>

		</ComponentGroup>


		<Component Id="StartMenuUninstallComponent" Guid="8F9E2C0D-6C1A-4B7B-9C77-6E3A3E1C2B55" Directory="AppProgramMenuDir">
			<CreateFolder />
			<Shortcut
				Id="StartMenuUninstallShortcut"
				Name="Désinstaller !(bind.Property.ProductName)"
				Directory="AppProgramMenuDir"
				Target="[SystemFolder]msiexec.exe"
				Arguments='/x [ProductCode]' />
		</Component>
	</Fragment>
</Wix>
