{% load static %}

<div class="header-nav">
  <div class="container-fluid container-xl position-relative">
    <nav id="navmenu" class="navmenu">
      <ul>
        <!-- Accueil -->
        <li><a href="{% url 'Boutique_app:Home' %}" class="active">Accueil</a></li>

        <!-- À propos -->
        <li><a href="{% url 'Boutique_app:about' %}">À propos</a></li>

        <!-- Catégories simples -->
        <li><a href="{% url 'Boutique_app:category' %}">Catégories</a></li>

        <!-- Panier -->
      <!--<li><a href="{% url 'Boutique_app:cart' %}">Panier</a></li>


        <li><a href="{% url 'Boutique_app:checkout' %}">Paiement</a></li>-->

        <!-- Dropdown simple -->
        <!--<li class="dropdown">
          <a href="#"><span>Plus</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="{% url 'Boutique_app:faq' %}">FAQ</a></li>
            <li><a href="{% url 'Boutique_app:contact' %}">Contact</a></li>
          </ul>
        </li>-->

        <!-- Contact -->
        <li><a href="{% url 'Boutique_app:contact' %}">Contact</a></li>

      </ul>
    </nav>
  </div>
</div>
